/* Smartphones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
{
  .errythang {
    margin-top: 100px;
    font-family: Courier new;
    font-size: 40px;
  }

  .logoo {
    margin-top: 200px;
    height: 300px;
    width: 300px;
  }

}

/* Smartphones */
@media only screen
and (min-width: 1000px)
{
  .errythang {
    margin-top: 100px;
    font-family: Courier new;
    font-size: 16px;
  }

  .logoo {
    height: 100px;
    width: 100px;
  }
}
